<head>
    <link rel="shortcut icon" type="image/png" href="img/faveicon.png">
</head>
<body>
<meta http-equiv="refresh" content="8;url=http://skyblueacm.ir/intro" />
<style>
    @media only screen and (min-width:320px) and (max-width:1024px) {
        .screen{
            display: none;
        }
        .mobile{
            display: block;
        }
        body {
            margin: 0;
            background: white;
        }
        .container {
            width: 100px;
            height: 500px;
            margin:  auto;
            margin-top: 35%;
            margin-bottom: 35%;
        }
        .ball {
            width: 50px;
            height: 50px;
            margin: 30px;
            padding: 20px;
            border-radius: 50px;
        }
        .ball:nth-child(1) {
            background: #ff005d;
            -webkit-animation: right 1s infinite ease-in-out, fading 8s;
            -moz-animation: right 1s infinite ease-in-out, fading 8s;
            animation: right 1s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .ball:nth-child(2) {
            background: #35ff99;
            -webkit-animation: left 1.1s infinite ease-in-out,fading 8s;
            -moz-animation: left 1.1s infinite ease-in-out,fading 8s;
            animation: left 1.1s infinite ease-in-out,fading 8s;
            -webkit-animation-fill-mode:forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode:forwards;
        }
        .ball:nth-child(3) {
            background: #006597;
            -webkit-animation: right 1.05s infinite ease-in-out,fading 8s;
            -moz-animation: right 1.05s infinite ease-in-out,fading 8s;
            animation: right 1.05s infinite ease-in-out,fading 8s;
            -webkit-animation-fill-mode:forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode:forwards;
        }
        .ball:nth-child(4) {
            background: #ffcc00;
            -webkit-animation: left 1.15s infinite ease-in-out,fading 8s;
            -moz-animation: left 1.15s infinite ease-in-out,fading 8s;
            animation: left 1.15s infinite ease-in-out,fading 8s;
            -webkit-animation-fill-mode:forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode:forwards;
        }
        .ball:nth-child(5) {
            background: #2d3443;
            -webkit-animation: right 1.1s infinite ease-in-out,fading 8s;
            -moz-animation: right 1.1s infinite ease-in-out,fading 8s;
            animation: right 1.1s infinite ease-in-out,fading 8s;
            -webkit-animation-fill-mode:forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode:forwards;
        }
        .ball:nth-child(6) {
            background: #ff7c35;
            -webkit-animation: left 1.05s infinite ease-in-out,fading 8s;
            -moz-animation: left 1.05s infinite ease-in-out,fading 8s;
            animation: left 1.05s infinite ease-in-out,fading 8s;
            -webkit-animation-fill-mode:forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode:forwards;
        }
        .ball:nth-child(7) {
            background: red;
            -webkit-animation: right 1s infinite ease-in-out,fading 8s;
            -moz-animation: right 1s infinite ease-in-out,fading 8s;
            animation: right 1s infinite ease-in-out,fading 8s;
            -webkit-animation-fill-mode:forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode:forwards;
        }
        @keyframes fading {
            /*0%   { background: black; }*/
            /*33%  { background: red; }*/
            100%  { background: deepskyblue; }
            /*100% { background: black; }*/
        }
        @-webkit-keyframes fading {
            /*0%   { background: black; }*/
            /*33%  { background: red; }*/
            /*66%  { background: blue; }*/
            /*100% { background: black; }*/
            100%  { background: deepskyblue; }
        }
        @-moz-keyframes fading {
            /*0%   { background: black; }*/
            /*33%  { background: red; }*/
            /*66%  { background: blue; }*/
            /*100% { background: black; }*/
            100%  { background: deepskyblue; }
        }
        @-webkit-keyframes right {
            0% {
                -webkit-transform: translate(-51px);
            }
            50% {
                -webkit-transform: translate(51px);
            }
            100% {
                -webkit-transform: translate(-51px);
            }
        }
        @-webkit-keyframes left {
            0% {
                -webkit-transform: translate(51px);
            }
            50% {
                -webkit-transform: translate(-51px);
            }
            100% {
                -webkit-transform: translate(51px);
            }
        }
        @-moz-keyframes right {
            0% {
                -moz-transform: translate(-51px);
            }
            50% {
                -moz-transform: translate(51px);
            }
            100% {
                -moz-transform: translate(-51px);
            }
        }
        @-moz-keyframes left {
            0% {
                -moz-transform: translate(51px);
            }
            50% {
                -moz-transform: translate(-51px);
            }
            100% {
                -moz-transform: translate(51px);
            }
        }
        @keyframes right {
            0% {
                transform: translate(-51px);
            }
            50% {
                transform: translate(51px);
            }
            100% {
                transform: translate(-51px);
            }
        }
        @keyframes left {
            0% {
                transform: translate(51px);
            }
            50% {
                transform: translate(-51px);
            }
            100% {
                transform: translate(51px);
            }
        }
    }
    @media only screen  and (min-width : 1224px) {
        .mobile{
            display: none;
        }
        .screen
        {
            display: block;
        }
        body {
            margin-top: 200px;
            padding-top: 200px;
            padding: 0;
            background: white;
        }

        .container {

        }

        .ball {
            width: 80px;
            height: 80px;
            border-radius: 50px;
        }

        .ball:nth-child(1) {
            background: #ff005d;
            -webkit-animation: up 1s infinite ease-in-out, fading 8s;
            -moz-animation: up 1s infinite ease-in-out, fading 8s;
            animation: up 1s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        .ball:nth-child(2) {
            background: #35ff99;
            -webkit-animation: down 1.1s infinite ease-in-out, fading 8s;
            -moz-animation: down 1.1s infinite ease-in-out, fading 8s;
            animation: down 1.1s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        .ball:nth-child(3) {
            background: #006597;
            -webkit-animation: up 1.05s infinite ease-in-out, fading 8s;
            -moz-animation: up 1.05s infinite ease-in-out, fading 8s;
            animation: up 1.05s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        .ball:nth-child(4) {
            background: #ffcc00;
            -webkit-animation: down 1.15s infinite ease-in-out, fading 8s;
            -moz-animation: down 1.15s infinite ease-in-out, fading 8s;
            animation: down 1.15s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        .ball:nth-child(5) {
            background: #2d3443;
            -webkit-animation: up 1.1s infinite ease-in-out, fading 8s;
            -moz-animation: up 1.1s infinite ease-in-out, fading 8s;
            animation: up 1.1s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        .ball:nth-child(6) {
            background: #ff7c35;
            -webkit-animation: down 1.05s infinite ease-in-out, fading 8s;
            -moz-animation: down 1.05s infinite ease-in-out, fading 8s;
            animation: down 1.05s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        .ball:nth-child(7) {
            background: red;
            -webkit-animation: up 1s infinite ease-in-out, fading 8s;
            -moz-animation: up 1s infinite ease-in-out, fading 8s;
            animation: up 1s infinite ease-in-out, fading 8s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        @keyframes fading {
            /*0%   { background: black; }*/
            /*33%  { background: red; }*/
            100% {
                background: deepskyblue;
            }

            /*100% { background: black; }*/
        }
        @-webkit-keyframes fadeOut {
            to {
                opacity: 0;
            }
        }
        @-webkit-keyframes fading {
            /*0%   { background: black; }*/
            /*33%  { background: red; }*/
            /*66%  { background: blue; }*/
            /*100% { background: black; }*/
            100% {
                background: deepskyblue;
            }
        }
        @-webkit-keyframes up {
            0% {
                -webkit-transform: translateY(-61px);
            }

            50% {
                -webkit-transform: translateY(61px);
            }
            100% {
                -webkit-transform: translateY(-61px);
            }
        }
        @-webkit-keyframes down {
            0% {
                -webkit-transform: translateY(61px);
            }
            50% {
                -webkit-transform: translateY(-61px);
            }
            100% {
                -webkit-transform: translateY(61px);
            }
        }

        @-moz-keyframes up {
            0% {
                -moz-transform: translateY(-61px);
            }
            50% {
                -moz-transform: translateY(61px);
            }
            100% {
                -moz-transform: translateY(-61px);
            }
        }

        @-moz-keyframes down {
            0% {
                -moz-transform: translateY(61px);
            }
            50% {
                -moz-transform: translateY(-61px);
            }
            100% {
                -moz-transform: translateY(61px);
            }
        }

        @keyframes up {
            0% {
                transform: translateY(-61px);
            }
            50% {
                transform: translateY(61px);
            }
            100% {
                transform: translateY(-61px);
            }
        }

        @keyframes down {
            0% {
                transform: translateY(61px);
            }
            50% {
                transform: translateY(-61px);
            }
            100% {
                transform: translateY(61px);
            }
        }
    }
</style>
<div id="loader" style="margin:auto;width: 800px">
    <div class="mobile container">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>
    <div class="container" >
    <table class="screen" style="margin-top: 30%;" cellspacing="30" >
        <tr >
            <th class="ball"></th>
            <th class="ball"></th>
            <th class="ball"></th>
            <th class="ball"></th>
            <th class="ball"></th>
            <th class="ball"></th>
            <th class="ball"></th>
        </tr>

    </table>
    </div>
</div>
<body onload="myFunction()" style="margin:0;">
<div style="display:none;"  id="myDiv" class="animate-bottom">
    <h2 style="color: white">Tada!</h2>
    <p>Some text in my newly loaded page..</p>
</div>
<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 90000);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>
</body>
